/* Updated 8/13/24 evening to include regions for header main and footer classes */


:root {
  --dark: #02133f;
  --light-blue: #56beff;
  --light: white;
}

body {
  background-color: #02133f;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: sans-serif;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*#region START HEADER elements and classes */
header {

  background-color: #02133f;
  min-width: 100%;

}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 400px;
  text-decoration: none;
  align-items: baseline;

}

.links {
  display: flex;
  color: white;
  justify-content: space-around;
  width: 400px;
}

a {
  text-decoration: none;
}

.links a {
  color: white;
}


.chat-btn {
  color: white;
  background-color: blue;
  border-radius: 7px;
  padding: 2px;
  font-weight: bold;
}

/*#endregion HEADER elements and classes */



/*#region START MAIN elements and classes */

/* Holds services and text about what CS2 provides and mission statement, world image */

/* Services
Building web apps that scale to your world wide audience

At CS2 we identify the digital divide with additional clickthrough from DevOps Nanotechnology immersion along the information highway to close the loop on focusing solely on the bottom line */
main {
  flex-wrap: wrap;
  margin: 50px;
  width: 100vw;

}

.main-text {
  color: white;
  font-size: larger;
  max-width: 25vw;
  padding-left: 5em;
  padding-right: -5em;
}

.explainer {
  color: white;
  font-size: 24px;
}

.mission {
  color: white;
  font-size: 16px;
}

.main-img {

  padding-left: 5em;
  padding-right: 9em;
  max-width: 25vw;
}

.main {

  background-color: #02133f;
  display: flex;
  min-width: 50vw;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}


h3 {
  color: #b0cc12;
}

/*#endregion MAIN elements and classes */




/*#region START FOOTER elements and classes */
footer {
  background-color: white;
}


.bottom {
  margin-top: 150px;
  background-color: white;
  height: 25vw;
  width: 100vw;
  flex-wrap: wrap;
}

.bottom-links {
  background-color: white;
  color: blue;
  display: flex;
  justify-content: space-around;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.bottom-text {
  text-align: center;
}

.bottom a {
  text-decoration: underline;
}

/*#endregion START FOOTER elements and classes */
/* #BODY END */